<!-- Favicons made with https://realfavicongenerator.net -->

{% capture icon_url %}{{ site.baseurl }}/assets/favicons{% endcapture %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ icon_url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ icon_url }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ icon_url }}/favicon-16x16.png">
<link rel="manifest" href="{{ icon_url }}/site.webmanifest">
<link rel="mask-icon" href="{{ icon_url }}/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ icon_url }}/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ icon_url }}/browserconfig.xml">
<meta name="theme-color" content="#ffffff">