{% for file in site.static_files %}
    {% if file.path contains 'assets/screenshot/' %}
        <img class="iphoneScreen" src="{{ site.github.baseurl }}{{ file.path }}" alt="Away for iOS shows your new Twitter DMs, statistics for recent tweets, number of followers">
        {% break %}
    {% elsif file.path contains 'assets/videos/' %}
        {% unless file.path contains 'assets/videos/Place-video-files-here.txt' %}
        {% break %}
        {% endunless %}
        {% if file.extname == ".mov" or file.extname == ".mp4" %}
        <div class="videoContainer">
            <video class="screenvideo" autoplay="autoplay" controls="controls">
                <source src="{{ site.github.baseurl }}{{ file.path }}" type="video/mp4">
            </video>
        </div>  
        {% break %}
        {% elsif file.extname == ".ogg" %}
        <div class="videoContainer">
            <video class="screenvideo" autoplay="autoplay" controls="controls">
                <source src="{{ site.github.baseurl }}{{ file.path }}" type="video/ogg">
            </video>
        </div>  
        {% break %}
        {% elsif file.extname == ".webm" %}
        <div class="videoContainer">
            <video class="screenvideo" autoplay="autoplay" controls="controls">
                <source src="{{ site.github.baseurl }}{{ file.path }}" type="video/webm">
            </video>
        </div> 
        {% break %}
        {% endif %}
    {% endif %}
{% endfor %}